<!--Tam's View-->

@model SignUpViewModel;

@{
    List<string> days = SignUpViewModel.GetDays();
    List<Dictionary<string, string>> times = SignUpViewModel.GetTimes();
}


<div>
    <h2>Select a Time Slot:</h2>
    <div class="row">

        @foreach (string day in days)
        {
            <div class="col-1">
                <h3>@day</h3>
                <table>
                    <thead>
                        <tr>
                            <td>Start Time</td>
                            <td>End Time</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Dictionary<string, string> x in times)
                        {
                            <tr>
                                <td>
                                    @x["start"]
                                </td>
                                <td>
                                    @x["finish"]
                                </td>
                                <td>
                                    <form asp-action="SignUp" method="post">
                                        <input hidden value="@x["start"]" asp-for="StartTime" />
                                        <input hidden value="@x["finish"]" asp-for="EndTime" />
                                        <input hidden value="@day" asp-for="Day" />
                                        <button type="submit">Reserve</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
