<!--Tam's View-->

@model SignUpViewModel;

@{
    List<string> days = SignUpViewModel.GetDays();
    List<string> start = SignUpViewModel.GetStartTimes();
    List<string> finish = SignUpViewModel.GetFinishTimes();

}


<div>
    <h2>Select a Time Slot:</h2>
    <div class="row">

        @foreach (var day in days)
        {
            <div class="col-2">
                <h3>@day</h3>
                <table>
                    <thead>
                        <tr>
                            <td>Start Time</td>
                            <td>End Time</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < start.Count; i++)
                        {
                            <tr>
                                <td>
                                    @start[i]
                                </td>
                                <td>
                                    @finish[i]
                                </td>
                                <td>
                                    <form method="post">
                                        <input hidden type="text" value="@start[i]" id="StartTime" name="StartTime" />
                                        <input hidden value="@finish[i]" id="EndTime" name="EndTime" />
                                        <input hidden value="@day" id="Day" name="Day" />
                                        <button type="submit">Reserve</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
